NodeRED dashboard flow.json
[{"id":"d74da295.94631","type":"tab","label":"Dashboard Intro","disabled":false,"info":""},{"id":"5ef6ac08.ce22e4","type":"ui_text","z":"d74da295.94631","group":"9f44ca8c.fe8c18","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":270,"y":60,"wires":[]},{"id":"825ec42e.210878","type":"inject","z":"d74da295.94631","name":"Instructions","topic":"","payload":"Toggle the switch to operate Pluggy Smart Plug","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":110,"y":60,"wires":[["5ef6ac08.ce22e4"]]},{"id":"879ac261.50f53","type":"ui_text","z":"d74da295.94631","group":"9f44ca8c.fe8c18","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":270,"y":120,"wires":[]},{"id":"ad529d15.222ef","type":"inject","z":"d74da295.94631","name":"Instructions","topic":"","payload":"Wattage","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":110,"y":120,"wires":[["879ac261.50f53"]]},{"id":"9f44ca8c.fe8c18","type":"ui_group","z":"","name":"Smart Plug Control & Status","tab":"9e0dd4f4.a29868","order":2,"disp":true,"width":"8","collapse":false},{"id":"9e0dd4f4.a29868","type":"ui_tab","z":"","name":"PluggY Smart Plug","icon":"fa-plug","order":1,"disabled":false,"hidden":false}]